body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
        color: #333;
}

.container {
    width: 100%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

header {
    background-color: #e9ecef;
}

.navbar-brand, .nav-link {
    color: #0056b3;
}

.nav-link:hover {
    color: #004094;
}

