<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="University Management" name="description">
    <meta content="Michael Pogrebinsky" name="author">
    <title>University Management</title>


    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="jquery/jquery-3.6.0.min.js"></script>


    <link href="/css/index.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a th:if="${isLoggedIn}" th:href="@{/student(student_id=${student_id})}" class="navbar-brand text-dark">
            Student Profile
        </a>
        <a th:unless="${isLoggedIn}" href="/" class="navbar-brand text-dark">
            Home
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/students" class="nav-link px-2 link-dark">Students</a></li>
            <li><a href="/programs" class="nav-link px-2 link-dark">Programs</a></li>
            <li><a href="/courses" class="nav-link px-2 link-dark">Courses</a></li>
        </ul>

        <div class="col-md-3 text-end" th:if="${isLoggedIn}">
            <a class="btn btn-outline-primary me-2" href="/logout">Log Out</a>
        </div>
        <div class="col-md-3 text-end" th:unless="${isLoggedIn}">
            <a class="btn btn-outline-primary me-2" href="/login">Login</a>
            <a class="btn btn-primary" href="/registration">Register</a>
        </div>

    </header>
</div>
<main>
    <div class="container">

        <!-- COURSES -->
        <div th:if="${show_courses}">
            <h2 class="pb-2 border-bottom mt-4">Fall 2023 - Available Courses</h2>
            <br>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                <div class="col" th:each="course: ${courses}">
                    <div class="card shadow-sm bg-light h-100 d-flex flex-column">
                        <div class="card-body">
                            <h4 class="text-center py-2 card-title" th:text="${#strings.abbreviate(course.title, 120)}">Course</h4>
                            <p class="card-text font-italic card-text" th:text="${#strings.abbreviate(course.description, 130)}"> Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PROGRAMS -->
        <div class="container">
            <h2 class="pb-2 border-bottom mt-4" th:if="${show_programs}">All Bachelor Degrees</h2>
            <div class="card my-2 my-lg-3" th:if="${show_programs}" th:each="program: ${programs}">
                <div class="card-body">
                    <h2 class="card-title"
                        th:text="${program.fieldOfStudy}"></h2>
                    <p th:inline="text">
                        Required students to complete
                        <strong>[[${program.requiredCreditsToGraduation}]] credits.</strong>
                    </p>
                </div>
            </div>
        </div>

        <!-- STUDENTS -->
        <div class="container" th:if="${show_students}">
            <div th:if="${isLoggedIn}">
                <h2 class="pb-2 border-bottom mt-4">Student Directory</h2>
                <br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Date of Birth</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="student: ${students}">
                        <td th:each="value: ${student.firstName}" th:text="${value}">Blank</td>
                        <td th:each="value: ${student.lastName}" th:text="${value}">Blank</td>
                        <td th:each="value: ${student.email}" th:text="${value}">Blank</td>
                        <td th:each="value: ${student.dateOfBirth}" th:text="${value}">Blank</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:unless="${isLoggedIn}" class="lead">
                <p>Log in to see this.</p>
            </div>
        </div>
    </div>
</main>


<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
